<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT acc ANY>
<!ATTLIST acc id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1055" key="0368489d-bef6-4502-b16a-55971d0b1e80" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-05T12:14:34" updateDate="2018-07-05T12:14:34" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1052" creatorName="Grzegorz Bielecki" writerName="Grzegorz Bielecki" writerID="0" template="1051" nodeTypeAlias="homePage" isPublished="true">
    <pageTitle><![CDATA[Home]]></pageTitle>
    <acc id="1056" key="c0f9236e-0557-419c-b023-ba17adca1f09" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2018-07-05T12:14:45" updateDate="2018-07-05T12:14:45" nodeName="account" urlName="account" path="-1,1055,1056" isDoc="" nodeType="1054" creatorName="Grzegorz Bielecki" writerName="Grzegorz Bielecki" writerID="0" template="1053" nodeTypeAlias="acc" isPublished="true" />
    <acc id="1068" key="0b283a81-1150-4274-9e9e-40b039eb82d3" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2018-07-10T15:02:56" updateDate="2018-07-10T15:02:56" nodeName="Home-2-GB" urlName="home-2-gb" path="-1,1055,1068" isDoc="" nodeType="1054" creatorName="Grzegorz Bielecki" writerName="Grzegorz Bielecki" writerID="0" template="1053" nodeTypeAlias="acc" isPublished="true" />
  </homePage>
  <homePage id="1066" key="fc231624-8a39-4ad6-bfce-89709ed24acd" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-07-10T15:00:28" updateDate="2018-07-10T15:00:28" nodeName="Home-2-GB" urlName="home-2-gb" path="-1,1066" isDoc="" nodeType="1052" creatorName="Grzegorz Bielecki" writerName="Grzegorz Bielecki" writerID="0" template="1051" nodeTypeAlias="homePage" isPublished="true">
    <pageTitle><![CDATA[hehe]]></pageTitle>
    <acc id="1067" key="40b62c99-6393-4e5b-a0a0-c8b787b4d030" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2018-07-10T15:00:41" updateDate="2018-07-10T15:01:00" nodeName="acc2" urlName="acc2" path="-1,1066,1067" isDoc="" nodeType="1054" creatorName="Grzegorz Bielecki" writerName="Grzegorz Bielecki" writerID="0" template="1053" nodeTypeAlias="acc" isPublished="true" />
  </homePage>
</root>